<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="betaseries" data-view="Betaseries" data-title="BetaSeries"></div>
    </li>
  </ul>
</div>